.debug {
    

    >.box_menu {
        border: 2px solid black;
        height: 50px;
    }

    >div>div>.box_start {
        border: 2px solid red;
        height: 200px;
    }

    >div>div>.box_portfolio_about_contact_copy{
        border: 2px solid violet;
        height: 30px;
    }

    >div>div>.box_portfolioimg{
        border: 2px solid darkmagenta;
        height: 80px;
    }

    >div>div>div>.card{
        height: 60px;
        background-color: lightpink;
    }

    >div>div>.box_about{
        border: 2px solid darkslateblue;
        height: 120px;
    }

    >div>div>.box_contact{
        border: 2px solid darkslateblue;
        height: 190px;
    }

    >div>div>.box_more{
        border: 2px solid darkslateblue;
        height: 130px;
    }

}


:root{
    --fr-darkest:#2c3f51;
    --fz-primary:#1bbc9d;
    --fz-ligther: #fefeff;
    --fz-dark:#3a556c;
}

#menu{
    background-color: var(--fr-darkest);
}

#jumbotron{
    background-color: var(--fz-primary);
}

#about{
    background-color: var(--fz-primary);
}

#more{
    background-color: var(--fz-dark);
}

#copyright{
    background-color: var(--fr-darkest);
    font-size: x-small;
}

main>section{
    padding-top: 40px;
    padding-bottom:40px;
}

.m_avatar{
    width: 180px;
}

.m_portfolioimg{
    width: 100%;
}

.fa-brands{
    border: 1px solid var(--fz-ligther);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 28px; 
}