.debug {
    

    >.box_menu {
        border: 2px solid black;
        height: 50px;
    }

    >div>div>.box_start {
        border: 2px solid red;
        height: 200px;
    }

    >div>div>.box_portfolio_about{
        border: 2px solid violet;
        height: 30px;
    }

    >div>div>.box_portfolioimg{
        border: 2px solid darkmagenta;
        height: 80px;
    }

    >div>div>div>.card{
        height: 60px;
        background-color: lightpink;
    }

    >div>div>.box_about{
        border: 2px solid darkslateblue;
        height: 120px;
    }



}
